<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <title>Page vote</title>
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body {
        background-color: #f3f3f3;
    }

    .card {
        cursor: pointer;
    }

    .card:hover {
        opacity: 0.8;
    }

    .confirm {
        display: none;
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        background-color: #00000030;
        height: 100vh;
    }

    .confirm-box {
        margin: 0 auto;
        width: 300px;
        margin-top: 210px;
        background: #fff;
        padding: 20px;
        border-radius: 4px;
        text-align: center;
    }
    .confirm-box h4{
        margin-bottom: 1.25rem;
    }
</style>

<body>

    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="mt-5">Seleccione su voto</h1>
                <div class="row">

                    <!--
                  Box para un candidato
                -->
                    {% for encrypted_candidate in encrypted_candidates %}
                    <div class="col-4 mt-4">
                        <div class="card" onclick="vote{{ forloop.counter }}({{ user }});">
                            <img src="https://sc2.elpais.com.uy/files/article_default_content/uploads/2019/03/30/5c9fe12eb5dc3.jpeg"
                                class="card-img-top" alt="...">
                            <div class="card-body text-left">
                                <h5 class="card-title">
                                    {{ encrypted_candidate.full_name }}
                                </h5>
                                <p class="card-text">
                                    {{ encrypted_candidate.political_party }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
        <div class="row">
            <div class="confirm">
                <div class="confirm-box">
                    <h4>¿Desea enviar su voto?</h4>
                    <button type="button" class="btn btn-danger " onclick="sendVote();">Si</button>
                    <button type="button" class="btn btn-primary " onclick="cancel();">No</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'jsencrypt.js' %}"></script>
    <script>

        const crypt = new JSEncrypt();

        crypt.setKey('-----BEGIN PUBLIC KEY-----MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCO4LkWK2/HHAlx222xgV9kFfZEjXPUgW/oFc6LfaaUrqwUzp/3woMlNDeCcCTBYK3w7AZtucBLrVG1UYwBC8CB06ZKbCAyKedGxN37TgVkM4q6uC7Y1I9mnCQ+QCYQSUZCF8Din3sH1Z0q6OEuBOGlxNO35aRUHdn9wXTEYek1PQIDAQAB-----END PUBLIC KEY------'); //You can use also setPrivateKey and setPublicKey, they are both alias to setKey

        {% for encrypted_candidate in encrypted_candidates %}
        const vote{{ forloop.counter }} = (userID) => {

            var aux_voto = '{{ encrypted_candidate.encrypted_id }}'
            modalConfirm(userID,aux_voto);
        
        };
        {% endfor %}

        var send_vote = 0;
        var send_user = 0;
        const modalConfirm = (userID,vote) => {

            send_vote = vote
            send_user = userID
            $('.confirm').show();
        };

        const sendVote = () => {
            $.post("vote/", {
                userID: send_user,
                candidateID: send_vote,

                csrfmiddlewaretoken: '{{ csrf_token }}'
            }).done(function (data) {
                console.log(data);
                if (data.opperation) {
                       window.location.href = '{% url 'blocked_vote' %}'
                }
            })
        }
        const cancel = () => {
            $('.confirm').hide();
        }

    </script>
</body>

</html>