<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Page vote</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body {
        background-color: #f3f3f3;
    }

    .card {
        cursor: pointer;
    }

    .card:hover {
        opacity: 0.8;
    }
</style>

<body>

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="mt-5">Ingresar un nuevo votante</h1>
            <div class="row">

                <div class="col-6 mx-auto mt-5">
                    <form class="">
                        {#                            <div class="form-group">#}
                        {#                                <label for="exampleFormControlInput1">Nombre</label>#}
                        {#                                <input type="email" class="form-control" id="name" placeholder="Juan Perez">#}
                        {#                            </div>#}
                        <div class="form-group">
                            <label for="exampleFormControlInput1">C.I</label>
                            <input type="email" class="form-control" id="ci" placeholder="12121212 (sin puntos ni guiones)">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Credencial</label>
                            <input type="email" class="form-control" id="credential" placeholder="YYY1111">
                        </div>
                    </form>
                    <button onclick="sendvoter();" class="btn btn-primary mb-2">Aceptar</button>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
<script>
    const sendvoter = () => {
        let ci_value = $('#ci').val();
        let credential_value = $('#credential').val();
        console.log(ci_value);
        console.log(credential_value);
        if ((ci_value == "" || ci_value == undefined || ci_value == null) && (credential_value == "" || credential_value == undefined || credential_value == null)) {
            alert('Ingrese CI o Credencial civica');
        } else {

            $.post("enable/", {
                credential_value: credential_value,
                ci_value: ci_value,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }).done(function (data) {
                if (!data.opperation) {
                    alert(data.message)
                }
            })
        }
    }
</script>

</html>