<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Page vote</title>
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    body {
        background-color: #f3f3f3;
    }

    .card {
        cursor: pointer;
    }

    .card:hover {
        opacity: 0.8;
    }
</style>

<body>

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="mt-5">Seleccione su voto</h1>
            <div class="row">

                <!--
                  Box para un candidato
                -->
                {% for candidate in candidates %}
                    <div class="col-4 mt-4">
                        <div class="card" onclick="vote({{ user }}, {{ candidate.pk }})">
                            <img src="https://sc2.elpais.com.uy/files/article_default_content/uploads/2019/03/30/5c9fe12eb5dc3.jpeg"
                                 class="card-img-top" alt="...">
                            <div class="card-body text-left">
                                <h5 class="card-title">
                                    {{ candidate.full_name }}
                                </h5>
                                <p class="card-text">
                                    {{ candidate.political_party.name }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {#          <!--#}
                {#            Box para un candidato#}
                {#          -->#}
                {#          <div class="col-4 mt-4">#}
                {#            <div class="card ">#}
                {#              <img src="https://sc2.elpais.com.uy/files/article_default_content/uploads/2019/03/30/5c9fe12eb5dc3.jpeg"#}
                {#                class="card-img-top" alt="...">#}
                {#              <div class="card-body text-left">#}
                {#                  <h5 class="card-title">#}
                {#                      Partido X#}
                {#                    </h5>#}
                {#                <p class="card-text">#}
                {#                  Nombre del candidato#}
                {#                </p>#}
                {#              </div>#}
                {#            </div>#}
                {#          </div>#}
                {##}
                {#          <!--#}
                {#            Box para un candidato#}
                {#          -->#}
                {#          <div class="col-4 mt-4">#}
                {#            <div class="card ">#}
                {#              <img src="https://sc2.elpais.com.uy/files/article_default_content/uploads/2019/03/30/5c9fe12eb5dc3.jpeg"#}
                {#                class="card-img-top" alt="...">#}
                {#              <div class="card-body text-left">#}
                {#                  <h5 class="card-title">#}
                {#                      Partido X#}
                {#                    </h5>#}
                {#                <p class="card-text">#}
                {#                  Nombre del candidato#}
                {#                </p>#}
                {#              </div>#}
                {#            </div>#}
                {#          </div>#}
                {##}
                {#          <!--#}
                {#            Box para un candidato#}
                {#          -->#}
                {#          <div class="col-4 mt-4">#}
                {#            <div class="card ">#}
                {#              <img src="https://sc2.elpais.com.uy/files/article_default_content/uploads/2019/03/30/5c9fe12eb5dc3.jpeg"#}
                {#                class="card-img-top" alt="...">#}
                {#              <div class="card-body text-left">#}
                {#                  <h5 class="card-title">#}
                {#                      Partido X#}
                {#                    </h5>#}
                {#                <p class="card-text">#}
                {#                  Nombre del candidato#}
                {#                </p>#}
                {#              </div>#}
                {#            </div>#}
                {#          </div>#}
                {##}
                {#          <!--#}
                {#            Box para un candidato#}
                {#          -->#}
                {#          <div class="col-4 mt-4">#}
                {#            <div class="card">#}
                {#              <img src="https://sc2.elpais.com.uy/files/article_default_content/uploads/2019/03/30/5c9fe12eb5dc3.jpeg"#}
                {#                class="card-img-top" alt="...">#}
                {#              <div class="card-body text-left">#}
                {#                  <h5 class="card-title">#}
                {#                      Partido X#}
                {#                    </h5>#}
                {#                <p class="card-text">#}
                {#                  Nombre del candidato#}
                {#                </p>#}
                {#              </div>#}
                {#            </div>#}
                {#          </div>#}


            </div>
        </div>
    </div>
</div>
<script>
    const vote = (userID, candidateID) => {
        console.log(userID);
        console.log(candidateID);
        $.post("vote/", { userID: userID, candidateID: candidateID,  csrfmiddlewaretoken: '{{ csrf_token }}' } );
    }
</script>
</body>

</html>